<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{event.name}}" class="background">
	<script type="text/javascript" src="../js/ics.deps.min.js"></script>
	<script type="text/javascript" src="../js/demo/demo.js"></script>
<ion-nav-bar class="bar-dark">

    <ion-nav-back-button>
    </ion-nav-back-button>
    <!--Logo-->
    <ion-nav-buttons side="right">
    <img src="img/logo_blanc.png" width=33px align="center">
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item">
      <h2 align="center"> {{event.name}}</h2>
        <img class="full-image" ng-src="{{event.image}}">
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <p>{{event.location}}</p>
      </div>
      <div class="item item-body">
        <h6>
          {{event.description}}
        </h6>
      </div>
    </div>

            <button class="button button-block button-dark">
      <i class="icon ion-close"></i>
       <b> Annuler l'inscription </b>
      </button>

  </ion-content>
</ion-view>
