<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{evenement.name}}" class="background">
  <ion-content class="padding">
    <div class="list card">
      <div class="item">
        <img class="full-image" ng-src="{{evenement.image}}">
        <h2>{{evenement.name}}</h2>
        <p>{{evenement.date}}</p>
        <p>{{evenement.hour}}</p>
        <p>{{evenement.place}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{evenement.description}}
        </p>
      </div>
      <button class="button button-block button-positive">
        S'inscrire pour {{evenement.price}}€
      </button>
    </div>
  </ion-content>
</ion-view>