<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{event.name}}</h1>
      <button class="button button-secondary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <label class="item item-input">
  		<span class="input-label">Votre nom</span>
  		<input type="text" ng-model="ouizzuser_username">
	</label>
	 <label class="item item-input">
    	<span class="input-label">Votre mot de passe</span>
    	<input type="text" ng-model="ouizzuser_password">
  	</label>
  	<button class="button button-block button-positive" ng-click="register(ouizzuser_username, ouizzuser_password)" ng-disabled="!ouizzuser_username">
  S'inscrire au nom de {{ouizzuser_username || ''}} 
</button>
    </ion-content>
  </ion-modal-view>