<ion-modal-view>
    <ion-header-bar class="bar-dark">
      <button class="button2" ng-click="modal.hide()"><b>Cancel</b></button>
    </ion-header-bar>
    <ion-content class="background">
      <label class="item item-input">
  		<span class="input-label"><i class="icon ion-person"></i><b>Votre nom</b></span>
  		<input type="text" ng-model="ouizzuser_username">
	</label>
	 <label class="item item-input">
    	<span class="input-label"><i class="icon ion-android-lock"></i><b>Votre mot de passe</b></span>
    	<input type="text" ng-model="ouizzuser_password">
  	</label>
  	<button class="button1 button-block" ng-click="connexion(ouizzuser_username, ouizzuser_password)" ng-disabled="!ouizzuser_username">
  	<i class="icon ion-compose"></i>
  Se connecter
</button>
<div class="wrap">
		<a href="javascript:cal_single.download('Awesome Day')">Single Event</a>
		<br>

    </ion-content>
  </ion-modal-view>
