<ion-view view-title="Ouizz" class="background" >
<ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <p align="center"><img src="img/logo_blanc.png" width=100px align="center"></p>
    <p align="center"> Laisse toi <b>Ouizzer</b> par ton application préférée </p>
    <p align="center"> Et ne rate plus aucun événement sur ton campus adoré </p>
    <div class="card">
  <div class="item item-dark item-divider">
     <h3> Tes événements à venir </h3>
  </div>
  <div class="item item-dark item-divider">
    <h3> Autres événements suggérés </h3>
  </div>
  <div class="item item-text-wrap">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="evenement in evenements" type="item-text-wrap" href="#/tab/evenements/{{evenement.id}}">
        <img ng-src="{{evenement.image}}" class="small-image">
        <h2>{{evenement.name}}</h2>
        <p>{{evenement.date}}</p>
        <p>{{evenement.hour}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </div>
</div>
  </ion-content>
</ion-view>
