<ion-view view-title="Ouizz" class="background">
	<script type="text/javascript" src="../js/ics.deps.min.js"></script>
	<script type="text/javascript" src="../js/demo/demo.js"></script>
<ion-nav-bar class="bar-dark">
	<script type="text/javascript" src="../js/ics.deps.min.js"></script>
	<script type="text/javascript" src="../js/demo/demo.js"></script>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <p align="center"><img src="img/logo_blanc.png" width=100px align="center"></p>

    <button class="button1 button-block" ng-click="openModal()">
      <i class="icon ion-compose"></i>
       <b>Se connecter</b>
      </button>

    <div class="card">

  <div class="item item-dark item-divider">
     <h3> <i class="icon ion-android-star"></i> <b> Tes événements à venir </b></h3>
  </div>
<ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in myevents" type="item-text-wrap" href="#/tab/events2/{{event.id}}">
        <img ng-src="{{event.image}}">
        <h4>{{event.name}}</h4>
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>


  <div class="item item-dark item-divider">
    <h3> <i class="icon ion-ios-calendar-outline"></i> <b> Autres événements suggérés </b></h3>
  </div>
  <div class="item item-text-wrap">
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/tab/events/{{event.id}}">
        <img ng-src="{{event.image}}">
        <h4>{{event.name}}</h4>
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </div>
</div>
  </ion-content>
</ion-view>




